# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyw
*.pyz
*.pyzw
*.pyc

# Virtual Environment
venv/
env/
*.env

# IDE
.vscode/
.idea/

# Compiled files
*.exe
*.dll
*.so
*.dylib

# Logs and databases
*.log
*.sqlite
*.db

# Miscellaneous
.DS_Store
Thumbs.db

example.py

notebooks/
unimplemented/
